body {

    background-color: skyblue;
    margin: 0%
}

h1 {
    text-align: center;
}
.nav-bar{

    background-color: #333;
        font-size: 1.5em;
    display:flex;
}

li {
    float: left;
}

nav a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
nav a:hover {
    background-color: #e11D22;}